div.left-card {
  padding-top: 30px;
  transform: rotate3d(30, -30, -15, 30deg);
  -webkit-transform: rotate3d(30, -30, -15, 30deg);
}

@media (max-width: 640px), (max-height: 500px) {
  div.left-card {
    // width: 70vw;
    height: 300px;
    transform: rotate3d(0, 0, 0, 0);
    -webkit-transform: rotate3d(0, 0, 0, 0);
  }
  div.main-nav.left-card {
    margin-left: 0;
  }
}

div.right-card {
  padding-top: 30px;
  transform: rotate3d(-30, -30, 15, 30deg);
  -webkit-transform: rotate3d(-30, -30, 15, 30deg);
}

@media (max-width: 640px), (max-height: 500px) {
  div.right-card {
    padding-top: 10px;
    margin: auto;
    text-align: center;
    display: block;
    width: 70vw;
    margin: 20px auto;
    height: 300px;
    transform: rotate3d(0, 0, 0, 0);
    -webkit-transform: rotate3d(0, 0, 0, 0);
  }
}
