// div.left-card {
//   padding-top: 30px;
//   //   transform: rotate3d(30, -30, -15, 30deg);
//   //   -webkit-transform: rotate3d(30, -30, -15, 30deg);
// }

// @media (max-width: 640px), (max-height: 500px) {
//   div.left-card {
//     // width: 70vw;
//     height: 300px;
//     // transform: rotate3d(0, 0, 0, 0);
//     // -webkit-transform: rotate3d(0, 0, 0, 0);
//   }
//   div.main-nav.left-card {
//     margin-left: 0;
//   }
// }

// // div.right-card {
// //   padding-top: 30px;
// //   //   transform: rotate3d(-30, -30, 15, 30deg);
// //   //   -webkit-transform: rotate3d(-30, -30, 15, 30deg);
// // }

// @media (max-width: 640px), (max-height: 500px) {
//   div.right-card {
//     padding-top: 10px;
//     margin: auto;
//     text-align: center;
//     display: block;
//     width: 70vw;
//     margin: 20px auto;
//     height: 300px;
//     // transform: rotate3d(0, 0, 0, 0);
//     // -webkit-transform: rotate3d(0, 0, 0, 0);
//   }
// }

.svg-icon {
  @media (max-width: 600px) {
    max-width: 50%;
  }
  padding-top: 3px;
  height: 30vh;
  margin: 0 auto;
}

.resume-icon {
  @media (max-width: 600px) {
    padding-left: 20px;
    max-width: 50%;
  }
}
