.App {
  text-align: center;
}


.icon{
  width: 70px;
  height: 75px;
  fill: rgb(59, 59, 221);
  padding: 7px;
  stroke: white;
  stroke-width: 0.4px;  
  
}

.icon:hover{
  fill: red;  
  transition-duration: 0.8s;
}


.links:hover{
  box-shadow: none;  
  transition-delay: 10s;  
}
.resume-icon{
  padding-top: 3px;
  height: 135px;
}

.resume-icon:hover{
  fill:white;
  transition-duration: 1.2s;
  stroke:rgb(168, 14, 14);
}



.code-icon{
  
  
  height: 140px;
  width: 20vw;
  min-width: 150px;
  padding-top:2vh;
:hover {
  box-shadow: 3px 3px 10px white;
  transform: rotate3d(0, 0, 0, 0);
  transition-duration: 0.5s;
  background: rgba(73, 73, 161, 1);
  
}
@media (max-width: 640px),
(max-height: 500px) {
  justify-content: center;
  height: fit-content;
  
  
  section {
    padding-top: 0;
  }
}
}

.home-enter {
  opacity: 0;
}

.home-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}

.home-exit {
  opacity: 1;
}

.home-exit-active {
  opacity: 0;
  transition: opacity 700ms ease-in;
}

.scale-in-center {
  -webkit-animation: scale-in-center 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.about-icon{
  width:200px;
  height:300px;
  @media (max-width: 800px){
    width:  150px;
    height: 280px;
    
  }
}