.App {
  text-align: center;
}


.icon{
  width: 90px;
  height: 75px;
  fill: blue;
  padding: 7px;
  
}

.icon:hover{
  fill: red;
  transition-duration: 0.8s;
  
  
}
.links:hover{
  box-shadow: none;
  transition-delay: 10s;  
}